.sidenav {
  grid-area: sidenav;
  background-color: #121212;
}
    
.sidenav__list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
  color: #121212;
}

.sidenav__list-item {
  padding: 20px 20px 20px 40px;
  color: #ddd;
}

.sidenav__list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */
  .sidenav {
    display: flex;
    flex-direction: column;
  }
}
  