$color-dark-primary: #0097A7;
$color-light-primary: #B2EBF2;
$color-primary: #00BCD4;
$color-text-icon: #FFFFFF;
$color-primary-text: #212121;
$color-secondary-text: #757575;
$color-divider: #BDBDBD;
